# Linguist overrides

*.txt linguist-detectable=true
*.txt linguist-vendored=false
*.txt linguist-generated=false
*.txt linguist-documentation=false
*.txt linguist-detectable=true
*.txt linguist-prose=false
